name: hnyuan

on:
  schedule:
    - cron: '0 9,18,02 * * *'
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: pip install selenium requests futures eventlet

      - name: Run gangaotai
        run: python ${{ github.workspace }}/gangaotai.py
        
      - name: Run hunan
        run: python ${{ github.workspace }}/hnyuan.py
        
      - name: Run txt-m3u
        run: python ${{ github.workspace }}/txt-m3u.py
                 
      - name: 提交更改
        run: |
          git config --local user.email "mlyuanlang@126.com"
          git config --local user.name "mlvjfchen"
          git add .
          git commit *.txt -m "Add generated file"
          git commit *.m3u -m "Add generated file"
          #git pull --rebase
          git push -f
